<nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5" style="background-color: #47E6C4;">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="https://flowbite.com" class="flex items-center">
          <img src="logo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap text-primary">LogoIpsum</span>
      </a>
      <div class="flex items-center">
        <div class="hidden lg:block">
            <button mat-raised-button class="btn-primary mx-4"><mat-icon>paid</mat-icon>CLICK HERE</button>
            <button mat-raised-button class="btn-primary mr-12"><mat-icon>account_circle</mat-icon>CLICK HERE</button>
        </div>

        <button mat-raised-button class="btn-ico mx-2"><mat-icon style="margin: 0 !important;">search</mat-icon></button>
        <button mat-raised-button class="btn-ico mx-2"><mat-icon style="margin: 0 !important;">menu</mat-icon></button>
      </div>
  </div>
</nav>